<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Título{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
        <style>
            body {
                padding-top: 50px;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>

    {% block nav %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Ver navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Acceso Inteligente a la Información</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Evaluable 10/5/17
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/movies">Películas</a></li>
                                <li><a href="/categories">Categorías</a></li>
                                <li><a href="/users">Usuarios</a></li>
                                <li><a href="/search_movie_year">Buscar películas de un año</a></li>
                                <li><a href="/search_best_movie_year">Buscar película con mejor puntuación media de un año</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>Rafael Gálvez-Cañero</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div id="main_wrapper" class="container">
        {% block content %}
            <h1>Bloque por defecto</h1>
        {% endblock %}
    </div>

</body>
</html>