{% extends 'base.html' %}

{% block title %}Categorías - AII{% endblock %}

{% block content %}
    <h1>Ejercicio 10/5/17<br><small>Listado de Categorías</small></h1>
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for category in categories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}