{% extends 'base.html' %}

{% block title %}Inicio - AII{% endblock %}

{% block content %}
    <h1>Acceso Inteligente a la Información<br><small>Ejercicio sobre Django</small></h1>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h4>Evaluable 10/5/17</h4>
            <p>El ejercicio para el miércoles 10 de Mayo pide lo siguiente:</p>
            <ul>
                <li>Desarrollar un procedimiento para cargar el <i>data-set</i>
                    de películas
                    <a href="http://grouplens.org/datasets/movielens/100k/"><tt>Dataset100k</tt></a>.</li>
                <li><a href="/movies">Mostrar las películas (Título).</a></li>
                <li><a href="/categories">Mostrar las categorías (Nombre).</a></li>
                <li><a href="/users">Mostrar los usuarios agrupados por código postal.</a></li>
            </ul>
            <p>Adicionalmente, en la práctica evaluable, se pide:</p>
            <ul>
                <li>Desarrollar un <a href="/search_movie_year">formulario que muestre películas dado un año</a>.</li>
                <li>Desarrollar un <a href="/search_best_movie_year">formulario que muestre la película con mejor puntuación media de un año</a>.</li>
            </ul>
        </div>
    </div>
{% endblock %}