{% extends 'base.html' %}

{% block title %}Películas - AII{% endblock %}

{% block content %}
    <h1>Ejercicio 10/5/17<br><small>Listado de Películas</small></h1>
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for movie in movies %}
                    <li>{{ movie.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}