{% extends 'base.html' %}

{% block title %}Búsqueda de Películas{% endblock %}

{% block content %}
    <h1>Búsqueda de Películas en un Año</h1>
    <div class="row">
        <div class="col-md-12">
            <form id="search_movie_form" method="post" action="">
                {% csrf_token %}
                {{ search_form.as_p }}
                <p><input type="submit" value="Buscar"></p>
            </form>
        </div>
    </div>
    {% if movies|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h4>Películas Encontradas:</h4>
                <ul>
                    {% for movie in movies %}
                        <li>{{ movie.title }} ({{ movie.year}})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}