{% extends 'base.html' %}

{% block title %}Búsqueda de Mejor Películas{% endblock %}

{% block content %}
    <h1>Búsqueda de Mejor Película en un Año</h1>
    <div class="row">
        <div class="col-md-12">
            <form id="search_movie_form" method="post" action="">
                {% csrf_token %}
                {{ search_form.as_p }}
                <p><input type="submit" value="Buscar"></p>
            </form>
        </div>
    </div>
    {% if movie_found %}
        <div class="row">
            <div class="col-md-12">
                {% if movie_found|length > 0 %}
                    <h4>La mejor película de ese año es {{ movie_found.0.title }} con una puntuación media de {{ movie_found.0.score }}.</h4>
                {% else %}
                    <h4>No se han encontrado películas ese año.</h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}