{% extends 'base.html' %}

{% block title %}Usuarios - AII{% endblock %}

{% block content %}
    <h1>Ejercicio 10/5/17<br><small>Listado de Usuarios por Código Postal</small></h1>
    <div class="row">
        <div class="col-md-12">
            <p>
                Entiendo que este ejercicio lo que quiere es que mostremos el número
                de usuarios por código postal. Esto se consigue con la siguiente
                llamada:
            </p>
            <code>
                data = User.objects.values('postal_code').annotate(user_count=Count('user_id'))
            </code>
            <ul style="margin-top: 10px;">
                {% for postal_code in user_data %}
                    <li>{{ postal_code.postal_code }}: {{ postal_code.user_count }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}